{% extends 'strathideasapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <form method="post">
    {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4" >Login </legend>
          <div class="row">
              <div class="col-8">
                {{ form.username|as_crispy_field }}
              </div>
                  <div class="col-8">
                    {{ form.password|as_crispy_field }}
                  </div>
          </div>
      </fieldset>

      <div class="form-group">
          <button class="btn btn-outline-info">Login</button>
      </div>

      <div class="border-top pt-3">
          <small class="text-muted">
              Need an account? <a href="{% url 'register' %}">Sign up Now</a>
          </small>
      </div>

  </form>
</div>
{% endblock %}